<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/calc-style.css?v=1.0">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

</head>

<body>

<div id="calc" class="calculator-section">
   <div class="calculator">
      <h2 class="title"></h2>
      <h4 class="sub-title"></h4>
      <div class="description"></div>
      <div class="flex-container">
         <div class="form-wrapper">
            <form class="calculator-form" action="">
               <div class="variation-col col">
                  <div class="col-title"></div>
                  <div class="text-el result-a" v-bind:class="{ better: isBetterA }">A</div>
                  <div class="text-el result-b" v-bind:class="{ better: isBetterB }">B</div>
               </div>
               <div class="visitor-col col">
                  <div class="col-title">Sesjoner:</div>
                  <div class="frame-input result-a" v-bind:class="{ better: isBetterA }">
                     <input type="number" tabindex="1" class="js-visitor-a js-a" min="0" max="10000" @change="countA" @input="countA" v-model.lazy="jsVisitorA" 
                     >
                  </div>
                  <div class="frame-input result-b" v-bind:class="{ better: isBetterB }">
                     <input type="number" tabindex="3" class="js-visitor-b js-b" min="0" max="10000" @change="countB" @input="countB" v-model="jsVisitorB">
                  </div>
               </div>
               <div class="conversion-col col">
                  <div class="col-title">Konverteringer:</div>
                  <div class="frame-input result-a" v-bind:class="{ better: isBetterA }">
                     <input type="number" tabindex="2" class="js-conversion-a js-a" min="0" max="10000" @change="countA" @input="countA" v-model="jsConversionA">
                  </div>
                  <div class="frame-input result-b" v-bind:class="{ better: isBetterB }">
                     <input type="number" tabindex="4" class="js-conversion-b js-b" min="0" max="10000" @change="countB" @input="countB" v-model="jsConversionB">
                  </div>
               </div>
               <div class="rate-col col">
                  <div class="col-title">CR (%):</div>
                  <div class="rate-result result-a" v-bind:class="{ better: isBetterA }"><span class="js-for-a">{{result1}}%</span></div>
                  <div class="rate-result result-b" v-bind:class="{ better: isBetterB }"><span class="js-for-b">{{result2}}%</span></div>
               </div>
            </form>
         </div>
	         <div class="result-wrapper">
	            <h4 class="sub-title">
	               <p style="text-align: center;">Dine resultater:</p>
	            </h4>
	            <div class="description ab-res " style="display: none;">
	               <p style="text-align: left;"><strong>Original</strong> (versjon A) konverterte<strong> <span class="js-comparison">{{better}}%</span></strong> bedre enn <strong>variant</strong> (versjon B). Vi er<strong> <span class="js-total">69</span>%</strong> sikre på at din versjon <span class="js-better">B</span> er bedre enn din versjon B.<br><br>Du burde nå lage en ny hypotese for å kunne gjøre en A/B test til med samme original, dette kalles "rinse and repeat". Lykke til!</p>
	            </div>
	            <div class="description ba-res" style="display: block;">
	               Variant (versjon B) konverterte <span class="js-comparison">{{better}}%</span> bedre enn <strong>original</strong> (versjon A). Vi er<strong> <span class="js-total">69</span>%</strong> sikre på at endringene i versjon <span class="js-better">B</span> vil bidra til å øke din konverteringsrate.<br><br>Gratulerer! Din variant utgjorde en forskjell. Fortsett det gode arbeidet, test alt - Alltid!
	            </div>
	            <div class="description b-res" style="display: none;">
	               <strong>Variant "B"</strong> konverterte<strong> <span class="js-comparison">48%</span></strong> bedre enn <strong>Variant "A"</strong>. Vi er <span class="js-total">69</span>% sikre på at endringene i variant "<strong><span class="js-better">B</span></strong>" vil forbedre dine konverteringsrater.
	            </div>
	            <div class="description bab-res" style="display: none;">
	               <strong>Variant "A"</strong> konverterte <strong><span class="js-comparison">48%</span></strong> bedre enn <strong>Variant "B"</strong>. Vi er <strong><span class="js-total">69</span>%</strong> sikre på at endringene i variant "<strong><span class="js-better">B</span></strong>" vil forbedre dine konverteringsrater.
	            </div>
	            <div class="res-one" style="display: none;"><strong>...men det råder litt tvil hvorvidt resultatet av denne testen er statistisk signifikant, eller ikke.</strong></div>
	            <div class="res-two" style="display: none;"><strong>Din A/B test er statistisk signifikant.</strong></div>
	            <div class="res-th" style="display: block;"><strong>Merk deg at din test ikke er statistisk signifikant.</strong></div>
	         </div>
      </div>
   </div>
</div>
  


  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script type="text/javascript">
  	new Vue({
  		el: '#calc',
  		data: {
  			jsVisitorA: 1000,
  			jsConversionA: 90,
  			jsVisitorB: 1000,
  			jsConversionB: 120,
  			result1: '',
  			result2: '',
  			isBetterA: false,
			isBetterB: true,
			better: ''  
  		},
  		methods: {
  			countA: function() {
  				var that = this;
  				this.result1 = ((that.jsConversionA / that.jsVisitorA) * 100).toFixed(1);
  				if(this.result1 > this.result2) {
  					this.isBetterA = true
  					this.isBetterB = false
  				} else if (this.result1 < this.result2){
  					this.isBetterA = false
  					this.isBetterB = true
  				} else if (this.result1 < this.result2){
  					this.isBetterA = false
  					this.isBetterB = false
				}
				this.better = (1 - (this.result1/this.result2)) * 100  
  			},
  			countB: function() {
				this.result2 = ((this.jsConversionB / this.jsVisitorB) * 100).toFixed(1);
				if(this.result1 > this.result2) {
  					this.isBetterA = true
  					this.isBetterB = false
  				} else if (this.result1 < this.result2){
  					this.isBetterA = false
  					this.isBetterB = true
  				} else if (this.result1 < this.result2){
  					this.isBetterA = false
  					this.isBetterB = false
				}
				this.better = (1 - (this.result1/this.result2)) * 100  
  			}
  		},
		mounted() {
		    this.result1 = this.jsConversionA / this.jsVisitorA * 100 // Counts on start
			this.result2 = this.jsConversionB / this.jsVisitorB * 100
			this.better = (1 - (this.result1/this.result2)) * 100
		},
		watch: {
            search: function (value) {
                console.log(value);
            }
        },
        computed: {
     //    	countA: () => {
  			// 	const res = this.jsConversionA / this.jsVisitorA * 100
  			// 	console.log(res)
  			// 	console.log(this.result1, 'works')
  			// 	console.log(this.jsConversionA)
  			// 	console.log(this.jsVisitorA)
  			// },
  			// countB: () => {
  			// 	this.result2 = this.jsConversionB / this.jsVisitorB * 100
  			// }
		}
  	})
  </script>
</body>
</html>